<p>
  This isn't a particularly well structured collection of posts, nor are they
  masterfully written. It's more of an attempt to document personal solutions to
  problems I wasn't able to easily overcome purely by reading documentation and
  StackOverflow. That and my talks from random meetups.
</p>
<ul>
  <%
  Object.entries(public.blog._data)
        .filter(([key, value]) => !value.hideInListing)
        .sort(([keyA, valueA], [keyB, valueB]) => valueB.date.localeCompare(valueA.date))
        .forEach(([key, value]) => { %>
    <li><%= value.date %> | <a href="/blog/<%= key %>.html"><%= value.title %></a></li>
  <% }); %>
</ul>
