<img class="portrait" src="photo.jpg" />
<div class="has-text-centered is-size-4-desktop is-size-4-tablet is-size-5-mobile">
  I'm a thirty-something from Ljubljana who enjoys writing code.<br>
  Among other things.
</div>
